* {
  font-family: "Open Sans";
}
.large-image {
  max-width: 100%;
}
.red-text {
  color: #FF2400;
}
.png-image {
  max-width: 33%;

}
.bottom-div {
  margin-top: 5%;
}
.title-text {
  margin-bottom: -10%
}
.floating-box {
  margin-top: -2%;
  background-color: white;
  border: 1px solid #DCDCDC;
}
.floating-box-a {
  margin-bottom: -2%;
  background-color: white;
  border: 1px solid #DCDCDC;
}
.text-in-image {
  margin-bottom: -60%;
}
.clicky:hover {
  background-color: #DCDCDC;

}
